:css
  /** felixlee.io Base Styles | MIT License **/
  .block { display: block; }
  .shadow, .headroom--pinned { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05); }
  .hover-shadow-dark:hover { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); }
  .z1 { z-index: 1; }
  .z2 { z-index: 2; }
  .z3 { z-index: 3; }
  .hover-opacity:hover { opacity: 0.65; }
  .rounded { border-radius: 3px; }
  @media screen and (min-width: 768px) { .sm-rounded-left { border-radius: 3px 0 0 3px; } }.border { border: 1px solid; }
  .border-top { border-top-width: 1px; border-top-style: solid; }
  .border-left { border-left-width: 1px; border-left-style: solid; }
  .border-right { border-right-width: 1px; border-right-style: solid; }
  .border-bottom, .headroom--pinned { border-bottom-width: 1px; border-bottom-style: solid; }
  .center { text-align: center; }
  .left-align { text-align: left; }
  .right-align { text-align: right; }
  .spaced { letter-spacing: 0.5px; }
  .spaced-small { letter-spacing: 0.25px; }
  .spaced-tight { letter-spacing: -0.5px; }
  .spaced-mega { letter-spacing: 4px; }
  .underline { border-bottom: 1px solid; }
  .uppercase { text-transform: uppercase; }
  .transition-all { -webkit-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
  .bg-white { background-color: #ffffff; }
  .bg-grey-lighter { background-color: #f0f0f0; }
  .bg-grey-light { background-color: #cccccc; }
  .bg-grey { background-color: #888888; }
  .bg-grey-dark { background-color: #555555; }
  .bg-grey-darker { background-color: #333333; }
  .border-grey-lighter, .headroom--pinned { border-color: #f0f0f0; }
  .border-grey-light { border-color: #cccccc; }
  .border-grey { border-color: #888888; }
  .border-grey-dark { border-color: #555555; }
  .border-grey-darker { border-color: #333333; }
  .white { color: #ffffff; }
  .grey-lighter { color: #f0f0f0; }
  .grey-light { color: #cccccc; }
  .grey, a { color: #888888; }
  .grey-dark { color: #555555; }
  .grey-darker, a:hover, a:focus { color: #333333; }
  .hover-white:hover { color: #ffffff; }
  .hover-grey-lighter:hover { color: #f0f0f0; }
  .hover-grey-light:hover { color: #cccccc; }
  .hover-grey:hover { color: #888888; }
  .hover-grey-dark:hover { color: #555555; }
  .hover-grey-darker:hover { color: #333333; }
  .hover-border-white:hover { border-color: #ffffff; }
  .hover-border-grey-lighter:hover { border-color: #f0f0f0; }
  .hover-border-grey-light:hover { border-color: #cccccc; }
  .hover-border-grey:hover { border-color: #888888; }
  .hover-border-grey-dark:hover { border-color: #555555; }
  .hover-border-grey-darker:hover { border-color: #333333; }
  html, body { padding: 0; }
  html { height: 100%; margin: 0; font-size: 62.5%; }
  body { width: 100%; margin: 0 auto; font-size: 1.5rem; font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; line-height: 1.5; color: #333333; box-sizing: border-box; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga" on; }
  *, *::after, *::before { box-sizing: inherit; }
  .absolute { position: absolute; }
  .relative { position: relative; }
  .fixed { position: fixed; }
  .absolute-y { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .l0 { left: 0; }
  .top-neg-2px { top: -2px; }
  .flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .items-start { -webkit-box-align: start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }
  .items-end { -webkit-box-align: end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }
  .items-center { -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
  .items-baseline { -webkit-box-align: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }
  .items-stretch { -webkit-box-align: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }
  .self-start { -ms-flex-item-align: start; align-self: flex-start; }
  .self-end { -ms-flex-item-align: end; align-self: flex-end; }
  .self-center { -ms-flex-item-align: center; align-self: center; }
  .self-baseline { -ms-flex-item-align: baseline; align-self: baseline; }
  .self-stretch { -ms-flex-item-align: stretch; align-self: stretch; }
  .justify-start { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .justify-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .justify-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .justify-between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .justify-around { -ms-flex-pack: distribute; justify-content: space-around; }
  .content-start { -ms-flex-line-pack: start; align-content: flex-start; }
  .content-end { -ms-flex-line-pack: end; align-content: flex-end; }
  .content-center { -ms-flex-line-pack: center; align-content: center; }
  .content-between { -ms-flex-line-pack: justify; align-content: space-between; }
  .content-around { -ms-flex-line-pack: distribute; align-content: space-around; }
  .content-stretch { -ms-flex-line-pack: stretch; align-content: stretch; }
  /* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
  .flex-auto { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
  .order1 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .order2 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
  @media screen and (min-width: 768px) { .sm-flex-row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }.sm-flex-column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }a { text-decoration: none; -webkit-transition: color 0.15s ease-in-out; transition: color 0.15s ease-in-out; }
  a:focus { outline: 0; }
  dl, ol, ul { margin-top: 0; padding-left: 0; }
  dl dl, dl ul, dl ol, ol dl, ol ul, ol ol, ul dl, ul ul, ul ol { font-size: 90%; }
  dl { list-style: none; }
  ul { list-style: disc inside; }
  ol { list-style: decimal inside; }
  .no-list-type { list-style-type: none; }
  button { cursor: pointer; }
  textarea { resize: none; }
  input, textarea { -webkit-appearance: none; -moz-appearance: none; }
  button:focus, textarea:focus, input:focus { outline: 0; color: #333333; border-color: #333333; }
  button:focus ~ label, textarea:focus ~ label, input:focus ~ label { color: #333333; }
  .hide { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
  @media (max-width: 768px) { .xs-hide { display: none !important; } }@media screen and (min-width: 768px) and (max-width: 1024px) { .md-hide { display: none !important; } }@media screen and (min-width: 1024px) { .lg-hide { display: none !important; } }.h-150px { height: 150px; }
  .h-300px { height: 300px; }
  .h-450px { height: 450px; }
  .h-100 { height: 100%; }
  .min-h-150px { min-height: 150px; }
  .min-h-100 { min-height: 100%; }
  .w-auto { width: auto; }
  .w-45 { width: 45%; }
  .w-50 { width: 50%; }
  .w-100 { width: 100%; }
  .max-w-620px { max-width: 620px; }
  .max-w-800px { max-width: 800px; }
  .max-w-1000px { max-width: 1000px; }
  @media screen and (min-width: 768px) { .sm-w-45 { width: 45%; }.sm-w-50 { width: 50%; }.sm-h-450px { height: 450px; }.sm-h-auto { height: auto; } }.bg-cover { background-size: cover; }
  .bg-center { background-position: center; }
  .bg-bottom { background-position: bottom; }
  .bg-no-repeat { background-repeat: no-repeat; }
  .p0 { padding: 0; }
  .p1 { padding: 0.5rem; }
  .p2 { padding: 1rem; }
  .p3 { padding: 1.5rem; }
  .p4 { padding: 2rem; }
  .p5 { padding: 2.5rem; }
  .p6 { padding: 3rem; }
  .p7 { padding: 3.5rem; }
  .p8 { padding: 4rem; }
  .p9 { padding: 4.5rem; }
  .p10 { padding: 5rem; }
  .p11 { padding: 5.5rem; }
  .p12 { padding: 6rem; }
  .px0 { padding-left: 0; padding-right: 0; }
  .px1 { padding-left: 0.5rem; padding-right: 0.5rem; }
  .px2 { padding-left: 1rem; padding-right: 1rem; }
  .px3 { padding-left: 1.5rem; padding-right: 1.5rem; }
  .px4 { padding-left: 2rem; padding-right: 2rem; }
  .px5 { padding-left: 2.5rem; padding-right: 2.5rem; }
  .px6 { padding-left: 3rem; padding-right: 3rem; }
  .px7 { padding-left: 3.5rem; padding-right: 3.5rem; }
  .px8 { padding-left: 4rem; padding-right: 4rem; }
  .px9 { padding-left: 4.5rem; padding-right: 4.5rem; }
  .px10 { padding-left: 5rem; padding-right: 5rem; }
  .px11 { padding-left: 5.5rem; padding-right: 5.5rem; }
  .px12 { padding-left: 6rem; padding-right: 6rem; }
  .py0 { padding-top: 0; padding-bottom: 0; }
  .py1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .py2 { padding-top: 1rem; padding-bottom: 1rem; }
  .py3 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .py4 { padding-top: 2rem; padding-bottom: 2rem; }
  .py5 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
  .py6 { padding-top: 3rem; padding-bottom: 3rem; }
  .py7 { padding-top: 3.5rem; padding-bottom: 3.5rem; }
  .py8 { padding-top: 4rem; padding-bottom: 4rem; }
  .py9 { padding-top: 4.5rem; padding-bottom: 4.5rem; }
  .py10 { padding-top: 5rem; padding-bottom: 5rem; }
  .py11 { padding-top: 5.5rem; padding-bottom: 5.5rem; }
  .py12 { padding-top: 6rem; padding-bottom: 6rem; }
  .pt0 { padding-top: 0; }
  .pt1 { padding-top: 0.5rem; }
  .pt2 { padding-top: 1rem; }
  .pt3 { padding-top: 1.5rem; }
  .pt4 { padding-top: 2rem; }
  .pt5 { padding-top: 2.5rem; }
  .pt6 { padding-top: 3rem; }
  .pt7 { padding-top: 3.5rem; }
  .pt8 { padding-top: 4rem; }
  .pt9 { padding-top: 4.5rem; }
  .pt10 { padding-top: 5rem; }
  .pt11 { padding-top: 5.5rem; }
  .pt12 { padding-top: 6rem; }
  .pb0 { padding-bottom: 0; }
  .pb1 { padding-bottom: 0.5rem; }
  .pb2 { padding-bottom: 1rem; }
  .pb3 { padding-bottom: 1.5rem; }
  .pb4 { padding-bottom: 2rem; }
  .pb5 { padding-bottom: 2.5rem; }
  .pb6 { padding-bottom: 3rem; }
  .pb7 { padding-bottom: 3.5rem; }
  .pb8 { padding-bottom: 4rem; }
  .pb9 { padding-bottom: 4.5rem; }
  .pb10 { padding-bottom: 5rem; }
  .pb11 { padding-bottom: 5.5rem; }
  .pb12 { padding-bottom: 6rem; }
  .pl0 { padding-left: 0; }
  .pl1 { padding-left: 0.5rem; }
  .pl2 { padding-left: 1rem; }
  .pl3 { padding-left: 1.5rem; }
  .pl4 { padding-left: 2rem; }
  .pl5 { padding-left: 2.5rem; }
  .pl6 { padding-left: 3rem; }
  .pl7 { padding-left: 3.5rem; }
  .pl8 { padding-left: 4rem; }
  .pl9 { padding-left: 4.5rem; }
  .pl10 { padding-left: 5rem; }
  .pl11 { padding-left: 5.5rem; }
  .pl12 { padding-left: 6rem; }
  .pr0 { padding-right: 0; }
  .pr1 { padding-right: 0.5rem; }
  .pr2 { padding-right: 1rem; }
  .pr3 { padding-right: 1.5rem; }
  .pr4 { padding-right: 2rem; }
  .pr5 { padding-right: 2.5rem; }
  .pr6 { padding-right: 3rem; }
  .pr7 { padding-right: 3.5rem; }
  .pr8 { padding-right: 4rem; }
  .pr9 { padding-right: 4.5rem; }
  .pr10 { padding-right: 5rem; }
  .pr11 { padding-right: 5.5rem; }
  .pr12 { padding-right: 6rem; }
  @media screen and (max-width: 768px) { .xs-p0 { padding: 0; } }@media screen and (min-width: 768px) { .sm-p0 { padding: 0; }.sm-py4 { padding-top: 2rem; padding-bottom: 2rem; }.sm-px0 { padding-left: 0; padding-right: 0; }.sm-px1 { padding-left: 0.5rem; padding-right: 0.5rem; }.sm-px2 { padding-left: 1rem; padding-right: 1rem; }.sm-px3 { padding-left: 1.5rem; padding-right: 1.5rem; }.sm-px6 { padding-left: 3rem; padding-right: 3rem; }.sm-pb0 { padding-bottom: 0; }.sm-pb4 { padding-bottom: 2rem; }.sm-pt0 { padding-top: 0; }.sm-pt3 { padding-top: 1.5rem; } }@media screen and (min-width: 768px) and (max-width: 1024px) { .md-p0 { padding: 0; } }@media screen and (min-width: 1024px) { .lg-p0 { padding: 0; } }
  .m0 { margin: 0; }
  .m1 { margin: 0.5rem; }
  .m2 { margin: 1rem; }
  .m3 { margin: 1.5rem; }
  .m4 { margin: 2rem; }
  .m5 { margin: 2.5rem; }
  .m6 { margin: 3rem; }
  .m7 { margin: 3.5rem; }
  .m8 { margin: 4rem; }
  .m9 { margin: 4.5rem; }
  .m10 { margin: 5rem; }
  .m11 { margin: 5.5rem; }
  .m12 { margin: 6rem; }
  .mx-auto { margin-left: auto; margin-right: auto; }
  .mx0 { margin-left: 0; margin-right: 0; }
  .mx1 { margin-left: 0.5rem; margin-right: 0.5rem; }
  .mx2 { margin-left: 1rem; margin-right: 1rem; }
  .mx3 { margin-left: 1.5rem; margin-right: 1.5rem; }
  .mx4 { margin-left: 2rem; margin-right: 2rem; }
  .mx5 { margin-left: 2.5rem; margin-right: 2.5rem; }
  .mx6 { margin-left: 3rem; margin-right: 3rem; }
  .mx7 { margin-left: 3.5rem; margin-right: 3.5rem; }
  .mx8 { margin-left: 4rem; margin-right: 4rem; }
  .mx9 { margin-left: 4.5rem; margin-right: 4.5rem; }
  .mx10 { margin-left: 5rem; margin-right: 5rem; }
  .mx11 { margin-left: 5.5rem; margin-right: 5.5rem; }
  .mx12 { margin-left: 6rem; margin-right: 6rem; }
  .my0 { margin-top: 0; margin-bottom: 0; }
  .my1 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .my2 { margin-top: 1rem; margin-bottom: 1rem; }
  .my3 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  .my4 { margin-top: 2rem; margin-bottom: 2rem; }
  .my5 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
  .my6 { margin-top: 3rem; margin-bottom: 3rem; }
  .my7 { margin-top: 3.5rem; margin-bottom: 3.5rem; }
  .my8 { margin-top: 4rem; margin-bottom: 4rem; }
  .my9 { margin-top: 4.5rem; margin-bottom: 4.5rem; }
  .my10 { margin-top: 5rem; margin-bottom: 5rem; }
  .my11 { margin-top: 5.5rem; margin-bottom: 5.5rem; }
  .my12 { margin-top: 6rem; margin-bottom: 6rem; }
  .mt0 { margin-top: 0; }
  .mt1 { margin-top: 0.5rem; }
  .mt2 { margin-top: 1rem; }
  .mt3 { margin-top: 1.5rem; }
  .mt4 { margin-top: 2rem; }
  .mt5 { margin-top: 2.5rem; }
  .mt6 { margin-top: 3rem; }
  .mt7 { margin-top: 3.5rem; }
  .mt8 { margin-top: 4rem; }
  .mt9 { margin-top: 4.5rem; }
  .mt10 { margin-top: 5rem; }
  .mt11 { margin-top: 5.5rem; }
  .mt12 { margin-top: 6rem; }
  .mb0 { margin-bottom: 0; }
  .mb1 { margin-bottom: 0.5rem; }
  .mb2 { margin-bottom: 1rem; }
  .mb3 { margin-bottom: 1.5rem; }
  .mb4 { margin-bottom: 2rem; }
  .mb5 { margin-bottom: 2.5rem; }
  .mb6 { margin-bottom: 3rem; }
  .mb7 { margin-bottom: 3.5rem; }
  .mb8 { margin-bottom: 4rem; }
  .mb9 { margin-bottom: 4.5rem; }
  .mb10 { margin-bottom: 5rem; }
  .mb11 { margin-bottom: 5.5rem; }
  .mb12 { margin-bottom: 6rem; }
  .ml0 { margin-left: 0; }
  .ml1 { margin-left: 0.5rem; }
  .ml2 { margin-left: 1rem; }
  .ml3 { margin-left: 1.5rem; }
  .ml4 { margin-left: 2rem; }
  .ml5 { margin-left: 2.5rem; }
  .ml6 { margin-left: 3rem; }
  .ml7 { margin-left: 3.5rem; }
  .ml8 { margin-left: 4rem; }
  .ml9 { margin-left: 4.5rem; }
  .ml10 { margin-left: 5rem; }
  .ml11 { margin-left: 5.5rem; }
  .ml12 { margin-left: 6rem; }
  .mr0 { margin-right: 0; }
  .mr1 { margin-right: 0.5rem; }
  .mr2 { margin-right: 1rem; }
  .mr3 { margin-right: 1.5rem; }
  .mr4 { margin-right: 2rem; }
  .mr5 { margin-right: 2.5rem; }
  .mr6 { margin-right: 3rem; }
  .mr7 { margin-right: 3.5rem; }
  .mr8 { margin-right: 4rem; }
  .mr9 { margin-right: 4.5rem; }
  .mr10 { margin-right: 5rem; }
  .mr11 { margin-right: 5.5rem; }
  .mr12 { margin-right: 6rem; }
  @media screen and (min-width: 768px) { .sm-m0 { margin: 0; }.sm-my6 { margin-top: 3rem; margin-bottom: 3rem; }.sm-my9 { margin-top: 4.5rem; margin-bottom: 4.5rem; }.sm-mt0 { margin-top: 0; }.sm-mt3 { margin-top: 1.5rem; }.sm-mr6 { margin-right: 3rem; }.sm-mb0 { margin-bottom: 0; }.sm-mb1 { margin-bottom: 0.5rem; }.sm-mb2 { margin-bottom: 1rem; }.sm-mb12 { margin-bottom: 6rem; } }@media screen and (min-width: 768px) and (max-width: 1024px) { .md-m0 { margin: 0; } }code { margin: 0 0.2rem; padding: 0.2rem 0.5rem; background-color: #f9f9f9; font-size: 1.3125rem; color: #333333; white-space: nowrap; }
  pre { background-color: #f9f9f9; }
  pre > code { display: block; padding: 1rem 1.5rem; color: #333333; border-radius: 3px; overflow-x: auto; white-space: pre; }
  .fade-in-up { -webkit-animation-name: fade-in-up; animation-name: fade-in-up; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-delay: 1.5s; animation-delay: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
  @-webkit-keyframes fade-in-up { from { opacity: 0; -webkit-transform: translateY(0.5em); transform: translateY(0.5em); }to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }@keyframes fade-in-up { from { opacity: 0; -webkit-transform: translateY(0.5em); transform: translateY(0.5em); }to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }h1, .font-triple { font-size: 4.5rem; }
  h2, .font-title { font-size: 3.75rem; }
  .font-double { font-size: 3rem; }
  h3, .font-larger { font-size: 2.25rem; }
  .font-large { font-size: 1.875rem; }
  h4, .font-base { font-size: 1.5rem; }
  h5, .font-small { font-size: 1.3125rem; }
  h6, .font-smaller { font-size: 1.125rem; }
  @media screen and (min-width: 768px) { .sm-font-triple { font-size: 4.5rem; }.sm-font-title { font-size: 3.75rem; }.sm-font-double { font-size: 3rem; }.sm-font-larger { font-size: 2.25rem; }.sm-font-large { font-size: 1.875rem; }.sm-font-base { font-size: 1.5rem; }.sm-font-small { font-size: 1.3125rem; }.sm-font-smaller { font-size: 1.125rem; } }@media screen and (min-width: 768px) and (max-width: 1024px) { .md-font-double { font-size: 3rem; }.md-font-title { font-size: 3.75rem; } }@media screen and (min-width: 1024px) { .lg-font-triple { font-size: 4.5rem; } }.regular { font-weight: 400; }
  .semi { font-weight: 600; }
  .bold { font-weight: 700; }
  .sans { font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .serif { font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif; }
  .mono { font-family: "courier-prime", "Lucida Console", Monaco, Courier, monospace; }
  .line-height-smaller { line-height: 1.25; }
  .line-height-small { line-height: 1.375; }
  .line-height-title { line-height: 1.125; }
  .line-height-base { line-height: 1.5; }
  .line-height-large { line-height: 1.75; }
  @media screen and (min-width: 768px) {
  .sm-line-height-base { line-height: 1.5; }.sm-line-height-large { line-height: 1.75; } }
  .headroom { will-change: transform; -webkit-transition: -webkit-transform 200ms linear; transition: -webkit-transform 200ms linear; transition: transform 200ms linear; transition: transform 200ms linear, -webkit-transform 200ms linear; }
  .headroom--pinned { -webkit-transform: translateY(0%); transform: translateY(0%); }
  .headroom--unpinned { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
  .headroom--top { border: none; box-shadow: none; }
