:css
  /** felixlee.io Content Styles | MIT License **/
  [data-attr="content"] h1, [data-attr="content"] h2, [data-attr="content"] h3, [data-attr="content"] h4, [data-attr="content"] h5, [data-attr="content"] h6 { margin-top: 0; margin-bottom: 1rem; letter-spacing: 0.5px; line-height: 1.25; }
  @media screen and (min-width: 768px) { [data-attr="content"] h1, [data-attr="content"] h2, [data-attr="content"] h3, [data-attr="content"] h4, [data-attr="content"] h5, [data-attr="content"] h6 { margin-bottom: 1.5rem; } }
  [data-attr="content"] h1, [data-attr="content"] h2, [data-attr="content"] h3 { line-height: 1.125; }
  [data-attr="content"] h4, [data-attr="content"] h5, [data-attr="content"] h6 { text-transform: uppercase; }
  [data-attr="content"] h1:first-of-type { margin-top: 3rem; margin-bottom: 0.5rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] h1:first-of-type { margin-top: 6rem; } }
  [data-attr="content"] h1 { font-size: 3rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] h1 { font-size: 3.75rem; } }
  [data-attr="content"] h2 { font-size: 2.25rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] h2 { font-size: 3rem; } }
  [data-attr="content"] h3 { font-size: 1.875rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] h3 { font-size: 2.25rem; } }
  @media screen and (min-width: 768px) { [data-attr="content"] h4 { font-size: 1.875rem; }
  [data-attr="content"] h5 { font-size: 1.5rem; }
  [data-attr="content"] h6 { font-size: 1.3125rem; } }
  [data-attr="content"] p { margin-top: 0; margin-bottom: 4rem; font-size: 1.875rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] p { line-height: 1.75; } }
  [data-attr="content"] ol, [data-attr="content"] ul { font-size: 1.875rem; }
  [data-attr="content"] li { margin-bottom: 0.5rem; }
  [data-attr="content"] li:last-child { margin-bottom: 0; }
  [data-attr="content"] blockquote { margin-right: 0; margin-left: 0; margin-top: 6rem; margin-bottom: 6rem; }
  @media screen and (min-width: 768px) { [data-attr="content"] blockquote { margin-left: 3rem; } }
  [data-attr="content"] blockquote p { font-weight: 700; font-size: 2.25rem; font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif; line-height: 1.5; }
  [data-attr="content"] blockquote p:nth-last-child(2) { margin-bottom: 0; }
  [data-attr="content"] blockquote cite { color: #888888; font-weight: 400; font-style: normal; font-size: 1.5rem; font-family: "courier-prime", "Lucida Console", Monaco, Courier, monospace; letter-spacing: -0.5px; }
  [data-attr="content"] q { display: block; margin-top: 6rem; margin-bottom: 6rem; text-align: center; font-size: 2.25rem; letter-spacing: 0.5px; font-family: "freight-display-pro", Georgia, "Times New Roman", Times, serif; line-height: 1.25; }
  @media screen and (min-width: 768px) { [data-attr="content"] q { font-size: 3rem; } }
  [data-attr="content"] .footnotes p { font-size: 1.5rem; }
  [data-attr="content"] .footnotes a { font-size: 1.125rem; }
  [data-attr="content"] a { border-bottom: 1px solid; }
  [data-attr="content"] a:hover { color: #333333; }
  [data-attr="content"] sup a { position: relative; padding-left: 0.5rem; padding-right: 0.5rem; text-decoration: underline; border: 0; }
  [data-attr="content"] sup a:before { content: ""; position: absolute; top: -10rem; right: 0; left: 0; height: 100%; margin: 0; }
  [data-attr="content"] hr { color: #cccccc; border-top: 0; border-left: 0; border-right: 0; border-bottom: 1px solid; margin-top: 6rem; margin-bottom: 5.5rem; }
  [data-attr="content"] .dotted-divider { margin-bottom: 7rem; font-size: 3rem; text-align: center; letter-spacing: 1.5rem; border: 0; }
  [data-attr="content"] .dotted-divider::before { content: '...'; display: block; color: #888888; line-height: 0; }
  [data-attr="content"] img { width: 100%; margin-top: 3rem; margin-bottom: 3rem; }
  [data-attr="content"] [id*="anchor-"]:target:before { content: ""; display: block; height: 2.5rem; margin-top: 2.5rem; margin-right: 0; margin-bottom: 0; margin-left: 0; }
