/** font-loading **/
:css
  .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading p, .wf-loading q, .wf-loading ul, .wf-loading ol, .wf-loading li, .wf-loading span, .wf-loading a, .wf-loading code, .wf-loading pre, .wf-loading figcaption {visibility:hidden;opacity:0;transition:opacity .5s ease-in} .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active p, .wf-active q, .wf-active ul, .wf-active ol, .wf-active li, .wf-active span, .wf-active a, .wf-active code, .wf-active pre, .wf-active figcaption{visibility:visible;opacity:1}
