/** font-loading **/
:css
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  q,
  ul,
  ol,
  hr,
  li,
  span,
  a,
  code,
  pre,
  figcaption,
  img,
  aside,
  div,
  article,
  main,
  section,
  .wf-loading h1,
  .wf-loading h2,
  .wf-loading h3,
  .wf-loading h4,
  .wf-loading h5,
  .wf-loading h6,
  .wf-loading p,
  .wf-loading q,
  .wf-loading ul,
  .wf-loading ol,
  .wf-loading hr,
  .wf-loading li,
  .wf-loading span,
  .wf-loading a,
  .wf-loading code,
  .wf-loading pre,
  .wf-loading figcaption,
  .wf-loading img,
  .wf-loading aside,
  .wf-loading div,
  .wf-loading article,
  .wf-loading main,
  .wf-loading section {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: opacity 0.5s ease-in;
  }

  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6,
  .wf-active p,
  .wf-active q,
  .wf-active ul,
  .wf-active ol,
  .wf-active hr,
  .wf-active li,
  .wf-active span,
  .wf-active a,
  .wf-active code,
  .wf-active pre,
  .wf-active figcaption,
  .wf-active img,
  .wf-active aside,
  .wf-active div,
  .wf-active article,
  .wf-active main,
  .wf-active section {
    visibility: visible !important;
    opacity: 1 !important;
  }
