// ––––––––––––––––––––––––––––––––––––
// Animation
// ––––––––––––––––––––––––––––––––––––

.fade-in-up {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(0.5em);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
