// ––––––––––––––––––––––––––––––––––––
// Article Styles
// - All elements within an article
// - Two level nesting
// - Only render on article layout
// - Don't use @extend
// ––––––––––––––––––––––––––––––––––––

[data-content="article"] {
  //
  // Typography
  //
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0; // .mt0
    margin-bottom: 1.5rem; // .mb3
    letter-spacing: 0.5px; // .spaced
    line-height: 1.25; //.line-height-smaller
  }

  p {
    margin-top: 0; // .mt0;
    margin-bottom: 3rem; // .mb6;
    font-size: $font-large; // .font-large;

    @media screen and (min-width: $tablet) {
      line-height: $line-height-large;
    }
  }

  //
  // Link
  //
  a {
    border-bottom: 1px solid; // .underline;

    &:hover {
      color: $grey-darker; // .grey-darker
    }
  }

  //
  // Misc
  //
  hr {
    color: $grey-light;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    margin-top: 6rem; // .mt12
    margin-bottom: 4.5rem; // .mb9
  }

  img {
    width: 100%;
    margin-top: 3rem; // .mt6
    margin-bottom: 3rem; // .mb6
  }
}
