// ––––––––––––––––––––––––––––––––––––
// Article Styles
// - All elements within an article
// - Only render on article layout
// - No more than 3 level nesting
// - Unless @media query
// - Don't use @extend
// ––––––––––––––––––––––––––––––––––––

// Header
header {
  margin-bottom: 6rem; // .mb16
}

// Images
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; // .mb2
  border-radius: 3px; // .rounded
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; // .mt0
  margin-bottom: 1rem; // .mb2
  font-family: $font-header;
  line-height: 1.125; //.line-height-title
  text-transform: capitalize;
}

h1,
h2,
h3 { line-height: $line-height-title; }

h2,
h3 { color: $grey-dark; }

h4,
h5,
h6 {
  color: $grey;
  letter-spacing: 0.25px; // .spaced-small
  text-transform: uppercase;
}

h1 { font-size: $font-title; }
h2 { font-size: $font-double; }
h3 { font-size: $font-larger; }

@media screen and (min-width: $tablet) {
  h4 { font-size: $font-large; }
  h5 { font-size: $font-base; }
  h6 { font-size: $font-small; }
}

// Paragraph
p {
  margin-top: 0; // .mt0
  margin-bottom: 3rem; // .mb6
  font-size: $font-large; // .font-large
  font-family: $font-serif; // .serif
  line-height: $line-height-large;

  // Heading after paragraph spacing
  + h2,
  + h3 { margin-top: 8rem; } // .mt16

  @media screen and (min-width: $tablet) {
    font-size: $font-larger;
  }
}

// Blockquote
blockquote {
  margin-right: 0;
  margin-left: 0;
  margin-top: 9rem; // .mt18
  margin-bottom: 9rem; // .mb18

  @media screen and (min-width: $tablet) {
    margin-left: 3rem; // .sm-ml6
  }

  p {
    font-weight: 700;
    font-size: $font-larger;
    font-family: $font-serif;
    line-height: $line-height-base;

    @media screen and (min-width: $tablet) {
      font-size: $font-double;
    }
  }

  // Reduce spacing if more than one paragraph within blockquote
  p:nth-last-child(2) {
    margin-bottom: 0.5rem // .mb1
  }

  cite {
    color: $grey;
    font-weight: 400;
    font-style: normal;
    font-size: $font-base;
    font-family: $font-mono;
    letter-spacing: -0.5px; // .spaced-tight

    @media screen and (min-width: $tablet) {
      font-size: $font-large;
    }
  }
}

// Quote
q {
  display: block;
  margin-top: 9rem; // .mt18
  margin-bottom: 9rem; // .mb18
  text-align: center;
  font-size: $font-larger;
  letter-spacing: 0.5px; // .spaced
  font-family: $font-sans;
  line-height: $line-height-smaller;

  @media screen and (min-width: $tablet) {
    font-size: $font-double;
  }
}


// Superscript Links
sup a {
  position: relative;
  padding-left: 0.5rem; // .ml1
  padding-right: 0.5rem; // .mr1
  text-decoration: underline;
  border: 0;

  &:before {
    content: "";
    position: absolute;
    top: -10rem;
    right: 0;
    left: 0;
    height: 100%;
    margin: 0;
  }
}

// Footnotes
.footnotes {
  p { font-size: $font-base; }
  a { font-size: $font-smaller; }
}

// Overwriting styles for content within articles
[data-attr="content"] {
  // Links
  a {
    border-bottom: 1px solid; // .underline
  }

  // Superscript Links
  sup a { border: 0; }

  // Allowing some space before the anchor
  [id*="anchor"]:target:before {
    content: "";
    display: block;
    height: 2.5rem; // MAGIC NUMBER
    margin-top: 2.5rem; // MAGIC NUMBER
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
