// ––––––––––––––––––––––––––––––––––––
// Background Styles
// - background-size
// - background-position
// - background-repeat
// ––––––––––––––––––––––––––––––––––––

// background-size
.bg-cover { background-size: cover; }

// background-position
.bg-center { background-position: center; }
.bg-bottom { background-position: bottom; }

// background-repeat
.bg-no-repeat { background-repeat: no-repeat; }
