code {
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  background-color: $sky-lighter;
  font-family: $font-mono;
  color: $ink;
  white-space: nowrap;
}

pre {
  background-color: $sky-lighter;
  & > code {
    display: block;
    padding: .5rem 1rem;
    color: $ink;
    border-radius: 4px;
    overflow-x: auto;
    white-space: pre;
  }
}
