// ––––––––––––––––––––––––––––––––––––
// Font Family
// ––––––––––––––––––––––––––––––––––––

.sans     { font-family: $font-sans; }
.mono     { font-family: $font-mono; }
.serif    { font-family: $font-serif; }
.headline { font-family: $font-headline; }
