// ––––––––––––––––––––––––––––––––––––
// Font Weight
// ––––––––––––––––––––––––––––––––––––

.regular { font-weight: 400; } // Sans + Serif
.semi    { font-weight: 600; } // Sans
.bold    { font-weight: 700; } // Serif

