// ––––––––––––––––––––––––––––––––––––
// Font Family
// ––––––––––––––––––––––––––––––––––––

.sans   { font-family: $font-sans; }
.serif  { font-family: $font-serif; }
.mono   { font-family: $font-mono; }
