// ––––––––––––––––––––––––––––––––––––
// Font Size
// ––––––––––––––––––––––––––––––––––––

// font-larger used on home page mobile viewport
// 22.5px
.font-larger  { font-size: $font-larger; }

// font-title used on each article presented on articles page
// 37.5px
.font-title    { font-size: $font-title; }

// font-triple used for page headlines
// 45px
h1,
.font-triple  { font-size: $font-triple; }

// 30px
h2,
.font-double  { font-size: $font-double; }

// 18.75px
h3,
.font-large   { font-size: $font-large; }

// 15px
h4,
.font-base    { font-size: $font-base; }

// 13.125px
h5,
.font-small   { font-size: $font-small; }

// 11.25px
h6,
.font-smaller { font-size: $font-smaller; }

// Responsive Typography
@media screen and (min-width: $mobile) {
  .sm-font-triple   { font-size: $font-triple; }
  .sm-font-title    { font-size: $font-title; }
  .sm-font-double   { font-size: $font-double; }
  .sm-font-larger   { font-size: $font-larger; }
  .sm-font-large    { font-size: $font-large; }
  .sm-font-base     { font-size: $font-base; }
  .sm-font-small    { font-size: $font-small; }
  .sm-font-smaller  { font-size: $font-smaller; }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
  .md-font-double   { font-size: $font-double; }
}

@media screen and (min-width: $tablet) {
  .lg-font-triple   { font-size: $font-triple; }
}



