// ––––––––––––––––––––––––––––––––––––
// Styles applied to class headroom
// Classes are added via headroom.js
// ––––––––––––––––––––––––––––––––––––

.headroom {
  position: fixed;
  will-change: transform;
  transition: transform 300ms linear;
}

.headroom--pinned,
.headroom--unpinned {
  box-shadow: 0 1px 2px 0 rgba(31, 45, 61, .15);
}

.headroom--top {
  border: 0;
  box-shadow: none;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
