// ––––––––––––––––––––––––––––––––––––
// Hide
// ––––––––––––––––––––––––––––––––––––

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: $md-breakpoint) {
  .xs-hide { display: none !important }
}

@media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {
  .md-hide  { display: none !important; }
}

@media screen and (min-width: $lg-breakpoint) {
  .lg-hide  { display: none !important; }
}
