// ––––––––––––––––––––––––––––––––––––
// Link
// ––––––––––––––––––––––––––––––––––––

a {
  @extend .grey;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    @extend .grey-darker;
  }
}
