// ––––––––––––––––––––––––––––––––––––
// Link
// ––––––––––––––––––––––––––––––––––––

a {
  position: relative;
  color: $ink;
  text-decoration: none;
  transition: color .15s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -4px;
    left: -4px;
    opacity: 0;
    width: calc(100% + 8px);
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
    pointer-events: none;
    transition: all .15s ease-in;
  }

  &:hover,
  &:focus {
    color: $ink-lighter;
    opacity: 1;
    bottom: 0;

    &:after {
      background-color: $sky-light;
      opacity: 1;
      bottom: 0;
    }
  }

  &.no-fancy-border:after {
    display: none;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }

  svg {
    fill: $sky-dark;
    transition: fill .15s ease-in;

    &:hover {
      fill: $ink-lightest;
    }
  }
}