// ––––––––––––––––––––––––––––––––––––
// List
// ––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
  font-size: $font-large; // .font-large

  dl,
  ul,
  ol {
    font-size: 90%;
  }
}

dl {
  list-style: none;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

li {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.no-list-type {
  list-style-type: none;
}

.list-disc {
  list-style: none;
  list-style-image: none;

  li {
    position: relative;
    padding-left: 2rem;

    &:before {
      content: '•';
      position: absolute;
      top: 2px;
      left: 0;
      font-size: $font-smaller;
    }
  }
}
