// ––––––––––––––––––––––––––––––––––––
// List
// ––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 0;

  dl,
  ul,
  ol {
    font-size: 90%;
  }
}

dl {
  list-style: none;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

.no-list-type {
  list-style-type: none;
}
