// ––––––––––––––––––––––––––––––––––––
// Miscellaneous
// ––––––––––––––––––––––––––––––––––––

img {
  max-width: 100%;
  width: 100%;
  margin-top: 4rem; // .mt8
  margin-bottom: 4rem; // .mb8
}

// Default Horizontal Line
hr {
  color: $sky-light;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
  margin-top: 6rem;
  margin-bottom: 5.5rem;
}

figcaption {
  color: $sky;
  text-align: center;
}

// Dotted Horizontal Line
.dotted-divider {
  margin-bottom: 7.5rem;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1.5rem;
  border: 0;

  &::before {
    content: '...';
    display: block;
    color: $sky;
    line-height: 0;
  }
}

::selection {
  color: $sky-light;
  background-color: $ink;
}