// ––––––––––––––––––––––––––––––––––––
// Sizes
// - height
// - width
// ––––––––––––––––––––––––––––––––––––

// Height
.h-150px      { height: 150px; }
.h-300px      { height: 300px; }
.h-450px      { height: 450px; }
.h-100        { height: 100%; }
// min-height
.min-h-150px  { min-height: 150px; }
.min-h-100    { min-height: 100%; }

// Width
.w-auto       { width: auto; }
.w-32         { width: 32%; }
.w-45         { width: 45%; }
.w-48         { width: 48%; }
.w-50         { width: 50%; }
.w-60         { width: 60%; }
.w-100        { width: 100%; }

// Max Width
.max-w-620px  { max-width: 620px; }
.max-w-800px  { max-width: 800px; }
.max-w-1000px { max-width: 1000px; }

// Responsive Width
@media screen and (min-width: $tablet) {
  .sm-w-32    { width: 32%; }
  .sm-w-45    { width: 45%; }
  .sm-w-50    { width: 50%; }
  .sm-w-60    { width: 60%; }
  .sm-w-auto  { width: auto; }

  .sm-h-450px { height: 450px; }
}
