// ––––––––––––––––––––––––––––––––––––
// Variables
// ––––––––––––––––––––––––––––––––––––

// Colours - Ink
$ink:                     #212B36;
$ink-light:               #454F5B;
$ink-lighter:             #637381;
$ink-lightest:            #919EAB;

// Colours - Sky
$sky-dark:                #C4CDD5;
$sky:                     #DFE3E8;
$sky-light:               #F4F6F8;
$sky-lighter:             #F9FAFB;

// Font Weight
$font-sans:               "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif :             "clarendon-text-pro", Georgia, "Times New Roman", Times, serif;
$font-mono:               Courier, "Lucida Console", Monaco, monospace;

// Line Height
$line-height-base:        1.5;

// Breakpoint Size
$sm-breakpoint:           40em;
$md-breakpoint:           52em;
$lg-breakpoint:           64em;
