%footer.col-12.flex.justify-between.items-baseline.my2.px3.sr-sequence
  =link_to "#{DateTime.now.year} © Felix Lee", "/", class: 'h5 text-ink-lightest text-ink-hover'
  =link_to "Source Code on GitHub", "#", class: 'h5 text-ink-lightest text-ink-hover'
