%footer.max-w-1000px.w-100.mx-auto.my4.sm-my6.px3.sm-px6.flex.flex-wrap.justify-between.font-base.fade-in-up
  %span.flex.flex-wrap.items-baseline.pb4.xs-p0.md-p0.lg-p0= link_to "#{DateTime.now.year} © Felix Lee", "/"

