%footer.max-w-1000px.w-100.mx-auto.my4.px3.sm-px6.flex.flex-wrap.justify-between.items-baseline.font-base.fade-in-up
  %section.flex.flex-wrap.items-baseline.pb4.xs-p0.md-p0.lg-p0
    = link_to "#{DateTime.now.year} © Felix Lee", "/"
    %span.self-center.px2.font-smaller.grey-light /
    = active_link_to "Get in touch", "get-in-touch", class: "font-base"
