%footer.flex.flex-wrap.justify-between.content-baseline.font-base.my4.sm-my6.px3.fade-in-up
  %span.flex.flex-wrap.items-baseline.pb4.xs-p0.md-p0.lg-p0= link_to "#{DateTime.now.year} © Felix Lee", data.external_links.license

  %span= active_link_to "Get in touch", "get-in-touch", class: "m0 border px3 py1 rounded"
