%header.flex.flex-wrap.justify-between.items-baseline.font-base.my4.sm-my6.px3.fade-in-up
  %ul.no-list-type.flex.m0.p0
    %li
      %a{ href: "/articles" }
        %span.pr1 ‹
        %span back to articles
