.flex.flex-wrap.justify-between.items-baseline.font-base.my4.sm-my6.fade-in-up
  %a.m0.semi.white.bg-grey-darker.px3.py1.rounded.hover-white{ href: "/" } This site is under development
  / %span.m0.semi.white.bg-grey-darker.px3.py1.rounded This site is under development
  / %ul.list-reset.flex.m0.semi.pb3.sm-pb0
  /   %li.mr6
  /     %a.grey-darker.underline{ href: "#" } Home
  /   %li.mr6
  /     %a{ href: "#" } Projects
  /   %li
  /     %a{ href: "#" } Articles

  %a.m0.grey.border.px3.py1.rounded{ href: "get-in-touch.html" } Get in touch
