.flex.flex-wrap.justify-between.items-baseline.font-small.my4.sm-my6.fade-in-up
  %span.m0.semi.white.bg-grey-darker.px3.py1.rounded This site is under development
  / %ul.list-reset.flex.m0.semi.pb3.sm-pb0
  /   %li.mr6
  /     %a.grey-darker.underline{ href: "#" } Home
  /   %li.mr6
  /     %a{ href: "#" } Projects
  /   %li
  /     %a{ href: "#" } Blog

  / %a.m0.grey-light.semi.border.px3.py1.rounded{ href: "#" } Get In Touch
