%nav.fixed.w-100.z3.bg-white
  .max-w-1000px.w-100.mx-auto.my4.px3.sm-px6.flex.flex-wrap.justify-between.items-baseline.font-base.fade-in-up
    %ul.no-list-type.flex.flex-wrap.items-baseline.m0.p0
      %li.mr7.sm-mr6
        = active_link_to "Home", "/", class: "font-base"
      %li.mr7.sm-mr6
        = active_link_to "Projects", "projects", class: "font-base"
      / %li.mr7.sm-mr6
      %li
        = active_link_to "Articles", "articles", class: "font-base"
      / %li
      /   = active_link_to "About", "about", class: "font-base"

    = active_link_to "Get in touch", "get-in-touch", class: "m0 border transition-all px3 py1 rounded xs-hide"
