%nav.fixed.w-100.z3.bg-white
  .max-w-1000px.w-100.mx-auto.my4.sm-my6.px3.sm-px6.flex.flex-wrap.justify-between.items-baseline.font-base.fade-in-up
    %ul.no-list-type.flex.m0.p0
      %li
        %a{ href: "/articles" }
          %span.pr1 ‹
          %span back to articles
