%header.flex.flex-wrap.justify-between.items-baseline.font-base.my4.sm-my6.px3.fade-in-up
  / %a.m0.white.bg-grey-darker.px3.py1.rounded.hover-white{ href: "/" } This site is under development
  %ul.no-list-type.flex.m0.pb3.sm-pb0
    %li.mr9.sm-mr6
      = menu_link "index", "font-base"
    / %li.mr9.sm-mr6
    /   = menu_link "projects", "font-base"
    %li
      = menu_link "articles", "font-base"


  / TODO: Remove .html
  = menu_link "get-in-touch", "m0 border px3 py1 rounded xs-hide"
