/ Robots
%meta{ name: "robots", content: "all" }
%meta{ name: "location", content: "Brisbane, Australia" }
%meta{ name: "revisit-after", content: "2 days" }

/ SEO
%meta{ name: "author", content: "Felix Lee" }
%meta{ name: "description", content: current_page.data.description ? current_page.data.description : "Portfolio of Felix Lee - Web designer specialised in product design. Based in Brisbane, Australia." }
%meta{ name: "keywords", content: current_page.data.keywords ? current_page.data.keywords : "portfolio, felix, felix lee, ui/ux, ui, ux, ui design, user experience, user interface, user experience designer, user interface designer, ux design, product design, ui designer, ux designer, web designer, product designer, web developer, designer, developer, front-end architecture, scalable stylesheets, design sprint, design process, netengine, brisbane, australia" }

/ Twitter Card data
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@im_felix" }
%meta{ name: "twitter:creator", content: "@im_felix" }
%meta{ name: "twitter:title", content: current_page.data.title ? current_page.data.title : "Felix Lee 🦄" }
%meta{ name: "twitter:description", content: current_page.data.description ? current_page.data.description : "Portfolio of Felix Lee - Web designer specialised in product design. Based in Brisbane, Australia." }
%meta{ name: "twitter:image", content: "https://www.felixlee.io/assets/images/twitter-summary-card.png" }

/ Facebook Card data
%meta{ property: "og:title", content: current_page.data.title ? current_page.data.title : "Felix Lee 🦄" }
%meta{ property: "og:type", content: "website" }
%meta{ property: "og:url", content: "https://www.felixlee.io/" }
%meta{ property: "og:site_name", content: "Felix Lee - Portfolio" }
%meta{ property: "og:description", content: current_page.data.description ? current_page.data.description : "Portfolio of Felix Lee - Web designer specialised in product design. Based in Brisbane, Australia." }
%meta{ property: "og:image", content: "https://www.felixlee.io/assets/images/twitter-summary-card.png" }
%meta{ property: "og:image:type", content: "image/png" }
%meta{ property: "og:image:width", content: "1200" }
%meta{ property: "og:image:height", content: "642" }
