/ Robots
%meta{ name: "robots", content: "all" }
%meta{ name: "location", content: "Brisbane, Australia" }
%meta{ name: "revisit-after", content: "2 days" }

/ SEO
%meta{ name: "author", content: "Felix Lee" }
%meta{ name: "description", content: "Portfolio - Felix specialise in user experience design. He helps client understand their users. In order to deliver better products." }
%meta{ name: "keywords", content: "felix, felix lee, ui/ux, ui, ux, ui design, ux design, product design, ui designer, ux designer, web designer, product designer, web developer, designer, developer, front-end architecture, scalable stylesheets, design sprint, design process, netengine, brisbane, australia" }

/ Twitter Card data
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@im_felix" }
%meta{ name: "twitter:creator", content: "@im_felix" }
%meta{ name: "twitter:title", content: "Felix Lee - UI /UX Designer" }
%meta{ name: "twitter:description", content: "Portfolio - Felix specialise in user experience design. He helps client understand their users. In order to deliver better products." }
%meta{ name: "twitter:image", content: "http://imfelix.github.io/assets/images/twitter-summary-card.png" }

/ Facebook Card data
%meta{ property: "og:title", content: "Felix Lee - UI /UX Designer" }
%meta{ property: "og:type", content: "website" }
%meta{ property: "og:url", content: "http://felixlee.io/" }
%meta{ property: "og:site-name", content: "Felix Lee - UI /UX Designer" }
%meta{ property: "og:description", content: "Portfolio - Felix specialise in user experience design. He helps client understand their users. In order to deliver better products." }
%meta{ property: "og:image", content: "http://imfelix.github.io/assets/images/twitter-summary-card.png" }
