---
title: Home | Felix Lee 🦄
---

.max-w-800px.mx-auto.px3.sm-px6.lg-px0.pb6.flex.flex-auto.flex-column.self-center.fade-in-up
  %h3.m0.semi.font-large.spaced-tight Felix Lee
  %p.m0.grey
    Web designer and developer at
    %a.grey.underline{ href: "//netengine.com.au" } NetEngine
  %h1.mt3.sm-mt6.mb0.pb12.headline.font-larger.md-font-title.lg-font-triple.bold.line-height-smaller
    I specialise in user experience design.
    %br
    I solve problems and care about feelings.
