---
title: Home | Felix Lee | UI/UX Designer
---

.max-w-800px.mx-auto.py4.px3.flex.flex-auto.flex-column.justify-center.fade-in-up
  %h3.m0.semi.font-large.spaced-tight Felix Lee
  %p.m0.grey
    Web designer and developer at
    %a.grey.underline{ href: "//netengine.com.au" } NetEngine
  %h1.mt6.mb0.pb12.serif.font-larger.md-font-double.lg-font-triple.bold.line-height-smaller
    I specialise in user interface and experience design. I am also a huge fan for scalable and maintainable stylesheets.
