---
title: Home | Felix Lee
---

.mw-1000px.mx-auto.mh-100.px3.sm-px6.flex.flex-column.relative.z-2.custom

  .flex.flex-wrap.justify-between.items-baseline.font-smaller.my4.sm-my6.fade-in-up
    %span.m0.semi.white.bg-grey-darker.px3.py1.rounded This site is under development
  /   %ul.list-reset.flex.m0.semi.pb3.sm-pb0
  /     %li.mr6
  /       %a.grey-darker.underline{ href: "#" } Home
  /     %li.mr6
  /       %a{ href: "#" } Projects
  /     %li
  /       %a{ href: "#" } Blog

  /  %a.m0.grey-light.semi.border.px3.py1.rounded{ href: "#" } Get In Touch

  .mw-800px.mx-auto.flex.flex-auto.flex-column.justify-center.fade-in-up
    %h3.m0.semi.font-large.spaced-tight Felix Lee
    %p.m0.grey
      Designer and developer at
      %a.grey.underline{ href: "//netengine.com.au" } NetEngine
    %h1.serif.font-larger.sm-font-triple.bold.line-height-2.spaced-tight.mt6.mb0.pb12
      I specialise in user interface and experience design. I am also a huge fan for scalable and maintainable stylesheets.

  .flex.flex-wrap.justify-between.font-smaller.my4.sm-my6.fade-in-up
    %span.grey.pb4.sm-p0
      2016 © Felix Lee
      / %span.grey-light.px2.sm-px1 •
      / %a.grey-light.semi{ href: "#" } GitHub Source
      / %span.grey-light.px2.sm-px1 •
      / %a.grey-light.semi{ href: "#" } Style Guide

    %ul.list-reset.flex.flex-wrap.semi.m0
      %li.mr6.pb4.sm-p0
        %a{ href: "//twitter.com/im_felix" } Twitter
      %li.mr6.pb4.sm-p0
        %a{ href: "//dribbble.com/felixlee" } Dribbble
      %li.mr6.pb4.sm-p0
        %a{ href: "//codepen.io/imfelix/" } CodePen
      %li.mr6.pb4.sm-p0
        %a{ href: "//github.com/imfelix" } GitHub
      %li
        %a{ href: "//linkedin.com/in/imfelix" } LinkedIn
