---
title: Home | Felix Lee 🦄
---

.max-w-800px.w-100.mx-auto.px3.sm-px6.lg-px0.pb6.flex.flex-auto.flex-column.self-center.fade-in-up
  %h3.mt0.mb1.semi.font-base.uppercase Felix Lee
  %p.m0.grey
    User experience designer at
    %a.grey.underline{ href: "//netengine.com.au" } NetEngine.
    %br.md-hide.lg-hide
    Based in Brisbane, Australia.
  %h1.mt1.mb0.headline.font-larger.md-font-title.lg-font-triple.bold.line-height-smaller
    Solving problems —
    %br
    advocating for the users.
