---
title: Style Guide | Felix Lee - UI/UX Designer & Web Developer
---

%h1 Style Guide

.mt2.sm-mt3
  %p
    As I continue to develop my portfolio site, a challenge that I face regularly is learning how to refine the visual identity of my site, as well as implementing them.
  %p
    I created this style guide to help me with my challenge by demonstrating the visual styles of each distinct elements that comprise of this site — ensuring that
    %em all elements work cohesively and with clarity.
