---
title: Style Guide | Felix Lee - UI/UX Designer & Web Developer
---

%h1 Style Guide

%section.mt2.sm-mt3
  %article
    %p As I continue to develop my portfolio site, a challenge that I face is learning how to refine the visual identity of my site.
    %p
      So, I created this style guide to help me with my challenge by showing the visual styles of each elements that comprise of this site — ensuring all of them are
      %em working consistently and cohesively.

  %article.mt9
    %h2.grey-dark Colors
    .flex.justify-between
      .flex-auto.h-150px.bg-grey-darker Grey Darker


  %article.mt9
    %h2.grey-dark Typeface
    %span.font-large
      The following fonts are used throughout the website served via
      %a{ href: "https://typekit.com/", target: "_blank", rel: "nofollow"} Typekit.

    %ul.no-list-type.pl6.mt2
      %li.sans Freight Sans Pro
      %li.serif Freight Display Pro
      %li.mono Courier Prime

  %article.mt9
    %h2.grey-dark Font Weights
    %span.font-large There are 3 font weights in total — only Freight Sans uses all 3 weights.
    %span.block.mt4.font-large.grey Freight Sans Pro
    %ul.no-list-type.pl6.mt2
      %li.sans Regular
      %li.sans.semi Semibold
      %li.sans.bold Bold
    %span.font-large.grey Freight Display Pro
    %ul.no-list-type.pl6.mt2
      %li.serif Regular
      %li.serif.bold Bold
    %span.font-large.grey Courier Prime
    %ul.no-list-type.pl6.mt2
      %li.mono Regular

  %article.mt9
    %h2.grey-dark Font Sizes
    %span.font-large There are 8 declared font sizes — excluding root size of 62.5%
    %ul.no-list-type.pl6.mt2
      %li.font-triple Triple size 45px
      %li.font-title Title size 37.5px
      %li.font-double Double size 30px
      %li.font-larger Larger size 22.5px
      %li.font-large Large size 18.75px
      %li.font-base Base size 15px
      %li.font-small Small size 13.125px
      %li.font-smaller Smaller size 11.25px

  %article.mt9
    %h2.grey-dark Headings
    %span.font-large Headings used for naming pages, sections, and articles.
    %ul.no-list-type.pl6.mt2
      %li
        %h1.hide Hidden Heading 1
        %h1 Heading 1
      %li
        %h2 Heading 2
      %li
        %h3 Heading 3
      %li
        %h4 Heading 4
      %li
        %h5 Heading 5
      %li
        %h6 Heading 6

  %article.mt9
    %h2.grey-dark List Items
    %span.font-large.grey Unordered List
    %ul.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3
    %span.font-large.grey Ordered List
    %ol.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3

  %article.mt9
    %h2.grey-dark Quotes
    %span.font-large.grey Blockquotes — for quotes by someone else.
    %blockquote
      %p Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.
      %p
        %cite Steve Jobs
    %span.font-large.grey Quotes — for quotes by me.
    %q
      I am absolutely blessed and I'm very grateful for where I am today

  %article.mt9
    %h2.grey-dark Dividers
    %span.font-large.grey Horizontal line for general use.
    %hr
    %span.font-large.grey Dotted divider for separating sections.
    %hr.dotted-divider




