---
title: Style Guide | Felix Lee 🦄
---

%h1 Style Guide

%section.mt2.sm-mt3
  %article.mb16
    %p As I continue to develop my portfolio site, a challenge that I face is learning how to refine the visual identity of my site.
    %p
      So, I created this style guide to help me with my challenge by showing the visual styles of each element that comprise of my portfolio — ensuring that all of the elements
      %strong work consistently and cohesively.
    %p
      Feel free to view the source code of this site on my GitHub
      %a{ href: data.external_links.github_source } repository.
      Drop me a message if you think there is something I can improve on my site, a typo maybe?

  %article.mb16
    %h2 Colors
    %p.mb3
      The shades of grey.
    .flex.flex-wrap.justify-between
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey-darker.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey Darker
          %span.block #333333
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey-dark.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey Dark
          %span.block #555555
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey
          %span.block #888888
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey-light.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey Light
          %span.block #cccccc
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey-lighter.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey Lighter
          %span.block #f0f0f0
      .w-48.sm-w-32.mb3.border.border-grey-lighter.rounded
        .bg-grey-lightest.h-150px.rounded-top
        .p3.mono.spaced-tight
          %span Grey Lightest
          %span.block #f9f9f9

  %article.mb16
    %h2 Fonts
    %p.mb3
      The following fonts are used throughout the website served via
      %a{ href: "https://typekit.com/", target: "_blank", rel: "nofollow"} Typekit.

    .flex.flex-wrap.justify-between
      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py3.px0.rounded-top.flex.justify-between
          %span.w-100.center.sans.font-title.sm-font-triple Aa
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Sans Pro
      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py3.px0.rounded-top.flex.justify-between
          %span.w-100.center.serif.font-title.sm-font-triple Aa
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Text Pro
      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py3.px0.rounded-top.flex.justify-between
          %span.w-100.center.headline.font-title.sm-font-triple Aa
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Display Pro
      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py3.px0.rounded-top.flex.justify-between
          %span.w-100.center.header.font-title.sm-font-triple Aa
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Canada Type Gibson
      .w-48.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py3.px0.rounded-top.flex.justify-between
          %span.w-100.center.mono.font-title.sm-font-triple Aa
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Courier

  %article.mb16
    %h2 Font Weights
    %p.mb3 A couple of font weights.
    .flex.flex-wrap.justify-between
      .w-100.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py0.px0.rounded-top.flex.justify-between.sans
          .flex.flex-column.w-50.center.py4
            %span.font-title.sm-font-triple.line-height-title.regular Aa
            %span.font-base.regular Book
          .flex.flex-column.w-50.center.py4.border-left.border-right.border-grey-lighter
            %span.font-title.sm-font-triple.line-height-title.semi Aa
            %span.font-base.regular SemiBold
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Sans Pro

      .w-100.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py0.px0.rounded-top.flex.justify-between
          .flex.flex-column.w-50.center.py4
            %span.font-title.sm-font-triple.line-height-title.regular.serif Aa
            %span.font-base.regular Book
          .flex.flex-column.w-50.center.py4.border-left.border-grey-lighter
            %span.font-title.sm-font-triple.line-height-title.semi.serif Aa
            %span.font-base.regular Bold
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Text Pro

      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py0.px0.rounded-top.flex.justify-between
          .flex.flex-column.w-100.center.py4
            %span.font-title.sm-font-triple.line-height-title.regular.headline Aa
            %span.font-base.regular Bold
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Freight Display Pro

      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py0.px0.rounded-top.flex.justify-between
          .flex.flex-column.w-100.center.py4
            %span.font-title.sm-font-triple.line-height-title.regular.header Aa
            %span.font-base.regular SemiBold
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Canada Type Gibson

      .w-48.mb4.border.border-grey-lighter.rounded.bg-grey-lightest
        .bg-white.py0.px0.rounded-top.flex.justify-between
          .flex.flex-column.w-100.center.py4
            %span.font-title.sm-font-triple.line-height-title.regular.mono Aa
            %span.font-base.regular Regular
        .p3.border-top.border-grey-lighter.center.mono.spaced-tight
          %span Courier

  %article.mb16
    %h2 Font Sizes
    %p.mb3 There are 8 declared font sizes — excluding root size of 62.5%

    .flex.flex-wrap.justify-between
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-triple The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 45px — Triple size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-title The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 37.5px — Title size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-double The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 30px — Double size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-larger The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 22.5px — Larger size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-large The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 18.75px — Large size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-base The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 15px — Base size
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-small The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 13.125px — Small size
      .w-100.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %span.w-100.font-smaller The quick brown fox jumps over the lazy dog
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span 11.25px — Smaller size

  %article.mb16
    %h2 Headings
    %p.mb3 Heading styles used for naming pages, sections, and articles.
    .flex.flex-wrap.justify-between
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h1.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 1
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h2.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 2
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h3.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 3
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h4.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 4
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h5.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 5
      .w-100.mb4.border.border-grey-lighter.rounded.left-align
        .bg-white.p3.rounded-top.flex.justify-between.space-nowrap.scroll
          %h6.w-100.m0 This is a heading
        .p3.border-top.border-grey-lighter.bg-grey-lightest.mono.spaced-tight
          %span Heading 6

  %article.mb16
    %h2 List Items
    %p.mb3.sans.grey Unordered List
    %ul.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3
    %p.mb3.sans.grey Ordered List
    %ol.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3

  %article.mb16
    %h2 Quotes
    %p.mb3.sans.grey Blockquotes — for quotes by someone else.
    %blockquote
      %p Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.
      %p
        %cite Steve Jobs
    %p.mb3.sans.grey Quotes — for quotes by me.
    %q I am absolutely blessed and I'm very grateful for where I am today

  %article.mb16
    %h2 Dividers
    %p.mb3.sans.grey Horizontal line for general use.
    %hr
    %p.mb3.sans.grey Dotted divider for separating sections.
    %hr.dotted-divider

  %article.mb16
    %h2 Button
    %p.mb6.sans.grey
      Only one type of button so far.
      This is an anchor tag styled as a button though.

    %a.border.transition-all.px3.py1.rounded{ href: "#" } Button
