---
title: Style Guide | Felix Lee - UI/UX Designer & Web Developer
---

%h1 Style Guide

%section.mt2.sm-mt3
  %p
    As I continue to develop my portfolio site, a challenge that I face is learning how to refine the visual identity of my site.
  %p
    So, I created this style guide to help me with my challenge by showing the visual styles of each elements that comprise of this site — ensuring all of them are
    %em working consistently and cohesively.


%section.mt12
  %h2.grey-dark Typography

  %article.mt9
    %h3.grey Typeface + Weights
    %span.font-large
      The following fonts are used throughout the website served via
      %a{ href: "https://typekit.com/", target: "_blank", rel: "nofollow"} Typekit.

    %ul.no-list-type.pl6.mt2
      %li.sans Freight Sans Pro - Regular
      %li.sans.semi Freight Sans Pro - Semibold
      %li.serif Freight Display Pro - Regular
      %li.serif.bold Freight Display Pro - Bold
      %li.mono Courier Prime - Regular

  %article.mt9
    %h3.grey Font Sizes
    %span.font-large There are 8 declared font sizes — excluding root size of 62.5%
    %ul.no-list-type.pl6.mt2
      %li.font-triple Triple size 45px
      %li.font-title Title size 37.5px
      %li.font-double Double size 30px
      %li.font-larger Larger size 22.5px
      %li.font-large Large size 18.75px
      %li.font-base Base size 15px
      %li.font-small Small size 13.125px
      %li.font-smaller Smaller size 11.25px

  %article.mt9
    %h3.grey Headings
    %span.font-large Headings used for naming pages, sections, and articles.
    %ul.no-list-type.pl6.mt2
      %li
        %h1.hide Hidden Heading 1
        %h1 Heading 1
      %li
        %h2 Heading 2
      %li
        %h3 Heading 3
      %li
        %h4 Heading 4
      %li
        %h5 Heading 5
      %li
        %h6 Heading 6

  %article.mt9
    %h3.grey List Items
    %span.font-large Unordered List
    %ul.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3
    %span.font-large Ordered List
    %ol.pl6.mt2
      %li List Item 1
      %li List Item 2
      %li List Item 3

