---
title: Thank you for your message
---

.max-w-620px.w-100.mx-auto.py4.px3.flex.flex-auto.flex-column.fade-in-up
  %h1.mt0.mb3.serif.line-height-title.sm-line-height-base Thanks for reaching out
  %i.mb1 It's great to hear from you.
  %i.mb1 I will reply to your message as soon as possible.
  %i.mb6 Just in case you are wondering — unicorn looks like this 🦄
  %i Cheers,
  %i Felix

